a {
    color: white;
}

.box-center {
    color: white;
    font-family: 'Anton';
    font-size: 80px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.flex-nadpis {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    text-align: center;
  }

  .dark{
      background-color: black;
      color: white;
  }

  .container{
      margin-top: 10px;
  }


  .clrboth {
      clear: both;
  }

  .carousel-inner iframe {
    width: 100%;
    height: 473px;
    margin: auto;
  }

  .fixed-right {
    left: 100%;
    width: 200px;
    margin-left: -100px;
    position: fixed;
  }

  .fixed-left {
    width: 10%;
    min-width: 100px;
    position: fixed;
  }

  ul.menu-left {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul.menu-left li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

    .form-group{
        margin-top: 50px;
        margin-right: 200px;
        margin-left: 200px;
        align-items: center;
        text-align: center;
    }


    